{{extend 'layout.html'}}
<h2>Submit a Puppet Pic:</h2>

<script> 
        function initiate_geolocation() {  
            navigator.geolocation.getCurrentPosition(success_handler);  
        }  
  
        function success_handler(position) {
            latitude = position.coords.latitude;
            longitude = position.coords.longitude;
            accuracy = position.coords.accuracy;
            timestamp = position.timestamp
            
            if (!latitude || !longitude) {
                document.getElementById("status").innerHTML = "HTML5 Geolocation supported, but location data is currently unavailable.";
                return;
            }
            
            var date = new Date();
            date.setTime(date.getTime() + (5 * 60 * 1000));
            
            $.cookie("posLat", latitude, { expires: date });
            $.cookie("posLon", longitude, { expires: date });
            $.cookie("posAccuracy", accuracy, { expires: date });
            $.cookie("posTimestamp", timestamp);
            alert(longitude)
            //Javascript Cookie
            //document.cookie = "latitude=" + latitude+";expires=" + date;

        }

        function getGeoLocation() {
            if (navigator.geolocation) 
            {
                navigator.geolocation.getCurrentPosition(success_handler);
            } 
            else
            {
                alert('GeoLocate Not supported'); //HTML Support
            }
        } 
</script>
<script>getGeoLocation();</script>
{{=form}}
<br/><br/>
Current Latitude:{{=latitude}}
